<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Submit <span class="glyphicon glyphicon-hand-up"></span></a>
<div class="container">
<div class="modal fade" id="myModal">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Enter your information</h4>
      </div><!-- end modal-header -->

      <div class="modal-body">

        <form class="form-horizontal" onSubmit="formchecker()">
          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputName" >Project ID</label>
            <span id="name_help"></span>
            <div class="col-lg-10">
              <input class="form-control" id="inputName" placeholder="ID" type="text">
            </div>
          </div>

          <div class="form-group">
              <label class="col-lg-2 control-label" for="inputName" >Name</label>
              <span id="name_help"></span>
              <div class="col-lg-10">
                <input class="form-control" id="inputName" placeholder="Name" type="text">
              </div>
            </div>

          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputEmail" onblur="isEmailOk(this, document.getElementById('email_help'))">Email</label>
            <span id="email_help"></span>

            <div class="col-lg-10">
              <input class="form-control" id="inputEmail" placeholder="Email" type="email">
            </div>
          </div>


          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputMessage" onblur="isAddressOk(this, document.getElementById('street_help'))">Location</label>
            <span id="street_help"></span>
            <div class="col-lg-10">
              <input class="form-control" id="inputName" placeholder="Location" type="text">

            </div>
          </div>



          <div class="form-group">
              <label class="col-lg-2 control-label" for="inputName" >gitURL</label>
              <span id="name_help"></span>
              <div class="col-lg-10">
                <input class="form-control" id="inputName" placeholder="URL" type="text">
              </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputNumber" >Score</label>
                <span id="name_help"></span>
                <div class="col-lg-10">
                  <input class="form-control" id="inputNumber" placeholder="Score" type="text">
                </div>
              </div>




        </form>


      </div><!-- end modal-body -->

      <div class="modal-footer">
          <button class="btn btn-success pull-right" type="submit" (click)=postData()>Save</button>
      </div><!-- end modal-footer -->



    </div><!-- end modal-content -->
  </div><!-- end modal-dialog -->
</div><!-- end myModal -->
</div>

<script type="text/javascript">

 function editNodeText(regex, input, helpId, helpMessage)

 {
   // See if the info matches the regex that was defined
   // If the wrong information was entered, warn them
   if (!regex.test(input)) {

     if (helpId != null)
       // We need to show a warning
       // Remove any warnings that may exist
       while (helpId.childNodes[0]){
         helpId.removeChild(helpId.childNodes[0]);
       }

       // Add new warning
       helpId.appendChild(document.createTextNode(helpMessage));

     } else {

       // If the right information was entered, clear the help message
       if (helpId != null){

         // Remove any warnings that may exist
         while (helpId.childNodes[0]){
           helpId.removeChild(helpId.childNodes[0]);
         }

       }

     }
 }


 function isEmailOk(inputField, helpId) {

   return editNodeText(/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/, inputField.value, helpId, "Enter an Email (Ex. derekbanas@newthinktank.com)");

 }

 function isTheFieldEmpty(inputField, helpId) {

  // See if the input value contains any text
  return editNodeText(/^[A-Za-z\.\' \-]{1,15}\s?[A-Za-z\.\' \-]{1,15}\s?[A-Za-z\.\' \-]{1,15}/, inputField.value, helpId, "Please enter a valid name.");
}

// inputField.value – Value typed in the html text box
function isAddressOk(inputField, helpId) {

  return editNodeText(/^[A-Za-z0-9\.\' \-]{5,30}$/, inputField.value, helpId, "Enter a Street (Ex.1234 Main St.)");
}

 </script>
